{% extends 'song_directory/base/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'song_directory/text_display.css' %}">

<head>
<title> {{Title}} </title>
</head>
<body>
{# <a> {{Title}} <a> <br></br> #}



{% if Medley_list or Song_list %}    
{# <a href='{%url "song_directory:index" %}'>Return</a> #}
{% endif %}



{% if Medley_list %}
    <ul>

    </ul>
    <div hx-get="{%url 'song_directory:medley_view_page' %}?page=1" hx-trigger="revealed" hx-swap="outerHTML">  </div>
{% elif Song_list %}
    
    <input type="search" id="song_search_input"> 
    <button id="search_button">Search Tunes</button>




    <ul>
    <!--{% for entry in Song_list %}
        <li><a href='{%url "song_directory:song_view" entry.url_code %}'>{{ entry.name }}</a></li>
    {% endfor %} -->
    <div hx-get="{%url 'song_directory:song_view_page' %}?page=1" hx-trigger="revealed" hx-swap="outerHTML">  </div>
    </ul>
    
    <script type="text/javascript">
        
        
        document.getElementById("search_button").onclick = 
        function(){
                location.href = "{%url 'song_directory:song_search' %}"+"?search="+document.getElementById("song_search_input").value;
            }
        
    </script>


    



{% elif Song_search %}
    <ul>
    {% for entry in Song_search %}
        <li><a href='{%url "song_directory:song_view" entry.url_code %}'>{{ entry.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>The database this page references is empty.</p>
{% endif %}
</body>








{% endblock %}