{% extends 'song_directory/base/base.html' %}
{% load static %}

{%block content%}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'song_directory/text_display.css' %}">
<html lang="en"></html>

<title>  Medley {{medley.pk}}   </title>

<a href='{%url "song_directory:medley" %}'>Go back</a>


<li> Tune 1: <a href='{% url "song_directory:song_search" %}?search={{medley.Tune1}}'>{{medley.Tune1}},</a> </li>
<li> Tune 2: <a href='{% url "song_directory:song_search" %}?search={{medley.Tune2}}'>{{medley.Tune2}},</a> </li>
<li> Tune 3: <a href='{% url "song_directory:song_search" %}?search={{medley.Tune3}}'>{{medley.Tune3}}</a> </li>

<li>







</li>

<li> Bands: {{medley.bands}} </li>
<li> keys: {{medley.keys}} </li>
<li> comments: {{medley.comments}} </li>
<li> Additional Notes: {{medley.additional_notes}} </li>
<li> Category: {{medley.medley_type}} </li>




{%endblock%}
