{% extends 'song_directory/base/base.html' %}






{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'song_directory/abcjs-audio.css' %}">
<html lang="en"></html>
<head>
    <title>  {{song.name}}   </title>
    <style>
		
	</style>

</head>


<body>
    <a href='{%url "song_directory:song_list" %}'>Go to song list</a>


    <script src="{% static 'song_directory/abcjs-basic.js' %}" type="text/javascript"></script>
    <script src="{% static 'song_directory/tune_manipulation/changedClef.js' %}" type="text/javascript"></script>
    <script src="{% static 'song_directory/MusicRenderer.js' %}" type="text/javascript"></script>
    <script src="{% static 'song_directory/tune_manipulation/getClef.js' %}" type="text/javascript"></script>
    <script src="{% static 'song_directory/tune_manipulation/reducePitchByOneOctave.js' %}" type="text/javascript"></script>



    <script type="text/javascript">
        document.getElementById("DownloadButton").onclick = function () {
            location.href = "{%url 'song_directory:song_abc_download' song.url_code%}";
        };
    </script>

    
    <br>
    {% if debug == True  %}
        <li> ABC Code: For debugging</li>
        <li> song.abc|escapejs</li>
        <li>{{song.abc|escapejs}} </li>
        <li> song.abc</li>
        <li>{{song.abc}} </li>
    {% endif %}
    <li> Uploaded by <a href="{%url 'song_directory:user_details' song.uploader_name %}">{{song.uploader_name}} </a> on {{song.uploaded_time.date}}</li>
       
    <br>
    <button id="DownloadButton" class="float-left submit-button"> Download ABC </button>
    <br><br>
    

    <button id="ClefButtonBass" class="float-left submit-button"> Change Clef to Bass </button>
    <button id="ClefButtonTenor" class="float-left submit-button"> Change Clef to Tenor </button>
    <button id="ClefButtonAlto" class="float-left submit-button"> Change Clef to Alto </button>
    <button id="ClefButtonTreble" class="float-left submit-button"> Change Clef to Treble </button>
    Keyboard: QWER
    <br><br>

    
    <button id="OctaveDown" class="float-left submit-button"> Down Octave </button>
    <button id="OctaveUp" class="float-left submit-button"> Up Octave </button>
    <button id="SemitoneDown" class="float-left submit-button"> Down Semitone </button>
    <button id="SemitoneUp" class="float-left submit-button"> Up Semitone </button>
    Keyboard: ASDF

    <div id="synthController"></div>
    <div id="target"></div>

    <!--<li> {{song.abc|linebreaks}} </li>  -->


    {% if song.description != "" %}
        <li> {{song.description}} </li> 
    {% endif %}

    <a href="{%url 'song_directory:report_form' %}">Report Content</a>
</body>
</html>



<script type="text/javascript">
    function button_redirect(url) {
        return function(){
            location.href = url;
        }
        
    }

    document.getElementById("DownloadButton").onclick = 
    button_redirect("{%url 'song_directory:song_abc_download' song.url_code%}");

</script>

<script type="text/javascript"> 
    const enable_playback=true;
    var sleepSetTimeout_ctrl;

    function sleep(ms) {
        clearInterval(sleepSetTimeout_ctrl);
        return new Promise(resolve => sleepSetTimeout_ctrl = setTimeout(resolve, ms));
    }



    const thisURL= new URL(window.location.toLocaleString());

    const urlParams= thisURL.searchParams;
    var visualOptions = { responsive: 'resize' };
    
    let abcString = '{{song.abc|escapejs}}';
    
    //alert(abcString)
    //var abcString ="X:1\nT:Example\nK:Bb\nBcde|\n";


    window.onload= function(){

   
    let renderer=new MusicRenderer(abcString,"target","synthController");

    let clef=getClef(abcString);
    
    function changeClefButton(clef){
                return function(){
                    abcString=changedClef(abcString,clef);
                    //dummyRenderer=ABCJS.renderAbc("*",abc_changed)
                    //abc_down=ABCJS.strTranspose(abc_changed,dummyRenderer,-24)
                    
                    //console.log(abc_down);
                    renderer.changeABC(abcString);
                    //renderer.visualObj
                    //delete synthController.disable(true);
                    //synthController=renderMusic(abc_changed,"target","synthController");
                };
        }
    function transpose(delta){
            return function(){
                
                dummyRenderer=ABCJS.renderAbc("*",abcString);
                abcString=ABCJS.strTranspose(abcString,dummyRenderer,delta);
                dummyRenderer=null; //This line prevents a memory leak.
                    
                renderer.changeABC(abcString);
                    
                };
        }    
    //Adding functionality to buttons
    document.getElementById("ClefButtonBass").onclick=changeClefButton("bass");
    document.getElementById("ClefButtonTenor").onclick=changeClefButton("tenor");
    document.getElementById("ClefButtonAlto").onclick=changeClefButton("alto");
    document.getElementById("ClefButtonTreble").onclick=changeClefButton("treble");

    document.getElementById("OctaveDown").onclick=transpose(-12);
    document.getElementById("OctaveUp").onclick=transpose(12);
    document.getElementById("SemitoneDown").onclick=transpose(-1);
    document.getElementById("SemitoneUp").onclick=transpose(1);
    
    //Keyboard shortcuts
    window.addEventListener("keydown",(event) => {
        
        switch(event.code){
            case "KeyQ":
                document.getElementById("ClefButtonBass").onclick();
            break;
            case "KeyW":
                document.getElementById("ClefButtonTenor").onclick();
            break;
            case "KeyE":
                document.getElementById("ClefButtonAlto").onclick();
            break;
            case "KeyR":
                document.getElementById("ClefButtonTreble").onclick();
            break;
            case "KeyA":
                document.getElementById("OctaveDown").onclick();
            break;
            case "KeyS":
                document.getElementById("OctaveUp").onclick();
            break;
            case "KeyD":
                document.getElementById("SemitoneDown").onclick();
            break;
            case "KeyF":
                document.getElementById("SemitoneUp").onclick();
            break;
            default: 
                break;
        }
        

    })

}
    /*
        
        
        
        */


    
</script>

{% endblock %}
