{% extends 'song_directory/base/base.html' %}






{% block content %}
{% load static %}
  
<meta name='twitter:site' content='@{{song.uploader_name}} on Contratunes' />
<meta name='twitter:title' content='{{song.name}}' />
<meta name='twitter:description' content='Example Webpage Description' />

<link rel="stylesheet" type="text/css" media="all" href="{% static 'song_directory/abcjs-audio.css' %}">
<html lang="en"></html>
<head>
    <title>  {{song.name}}   </title>
    <style>
		
	</style>

</head>


<body>
    


    <script src="{% static 'song_directory/abcjs-contratunes/dist/abcjs-basic-min.js' %}" type="text/javascript"></script>
    <script src="{% static 'song_directory/tune_manipulation/changedClef.js' %}" type="text/javascript"></script>
    <script src="{% static 'song_directory/MusicRenderer.js' %}" type="text/javascript"></script>
    <script src="{% static 'song_directory/tune_manipulation/getClef.js' %}" type="text/javascript"></script>
    <script src="{% static 'song_directory/song_view/songViewOnResize.js' %}" type="text/javascript"></script>
    {#  <script src="{% static 'song_directory/tune_manipulation/reducePitchByOneOctave.js' %}" type="text/javascript"></script> #}


    {% if not external%}
        <script type="text/javascript">
            document.getElementById("DownloadButton").onclick = function () {
                location.href = "{%url 'song_directory:song_abc_download' song.url_code%}";
            };
        </script>
    {% endif %}

    
    
    {% if debug == True  %}
        <li> ABC Code: For debugging</li>
        <li> song.abc|escapejs</li>
        <li>{{song.abc|escapejs}} </li>
        <li> song.abc</li>
        <li>{{song.abc}} </li>
    {% endif %}
    
    
    
    
           <template id="template-button-change-clef">
                <button class="control-button 4-wide"> Change Clef <br><font></font><div class="button-corner-label"></div></button>
           </template>
           
            <div class="row button-group">
                <button id="ClefButtonBass" class="control-button 4-wide"><div class="change-clef"></div><font>𝄢</font><div class="button-corner-label">(Q)</div></button><!--
                --><button id="ClefButtonTenor" class="control-button 4-wide"> <div class="change-clef"></div>  <font>𝄡_</font><div class="button-corner-label">(W)</div></button><!--
                --><button id="ClefButtonAlto" class="control-button 4-wide"> <div class="change-clef"></div>  <font>𝄡-</font><div class="button-corner-label">(E)</div></button><!--
                --><button id="ClefButtonTreble" class="control-button 4-wide"> <div class="change-clef"></div>  <font>𝄞</font><div class="button-corner-label">(R)</div></button>

            </div>
            
    
        
            
            <div class="row button-group">

                <button id="OctaveDown" class="control-button 4-wide"><font>↓</font><span class="octave-text"></span><div class="button-corner-label">(A)</div></button><!--
                --><button id="OctaveUp" class="control-button 4-wide"><font>↑</font><span class="octave-text"></span><div class="button-corner-label">(S)</div></button><!--
                --><button id="SemitoneDown" class="control-button 4-wide"><font>↓</font> <span class="semitone-text"></span> <div class="button-corner-label">(D)</div></button><!--
                --><button id="SemitoneUp" class="control-button 4-wide"><font>↑</font> <span class="semitone-text"></span> <div class="button-corner-label">(F)</div></button>
            </div>
            

    <script>
        //Jquery css mods
        $(".4-wide").css({"width": "25%"});
        $(".button-group").css({"width":"100%"});
        //$(".control-button font").attr("size",6);
    </script>
        
    

    
    <div id="synthController"></div>
    <div id="target"></div>
    {% if not external %}
        Uploaded by <a href="{%url 'song_directory:user_details' song.uploader_name %}">{{song.uploader_name}}</a>
            {% if user_uploaded_song%}
                (you)
            {% endif %}

        on {{song.uploaded_time.date}} 
        {% if song.edited_time %}
            (Edited {{song.edited_time|date}})
        {% endif %}

        {% if user_uploaded_song%}
            <a href="{%url 'song_directory:song_edit' song.url_code%}">Edit</a>
        {%endif%}
    {% else %}
        This tune is not stored on Contra Tunes servers. It was downloaded from another source while loading the page.
    {% endif %}   
    <br>
    <button id="DownloadButton" class="float-left submit-button"> Download ABC </button>

    {#<li> {{song.abc|linebreaks}} </li> #}

    {% if not external %}
    {% if song.description != "" %}
        <meta name='twitter:description' content='{{song.description}}' />
        <li> {{song.description}} </li> 
    {% endif %}
    <br>
    
    Availability: {{song.availability.title}}
    <br>
    <a href="{%url 'song_directory:report_form' %}">Report Content</a> <br>
    {% endif %}   
    <a href='{%url "song_directory:song_list" %}'>Back to Tune List</a> <br>

    
</body>

</html>



<script type="text/javascript">
    function button_redirect(url) {
        return function(){
            location.href = url;
        }
        
    }

{% if not external%}
    document.getElementById("DownloadButton").onclick = 
    button_redirect("{%url 'song_directory:song_abc_download' song.url_code%}");

{%else %}
    document.getElementById("DownloadButton").onclick = 
    button_redirect("{{url}}");
{% endif %}
</script>

<script type="text/javascript"> 
    

    const enable_playback=true;
    var sleepSetTimeout_ctrl;

    function sleep(ms) {
        clearInterval(sleepSetTimeout_ctrl);
        return new Promise(resolve => sleepSetTimeout_ctrl = setTimeout(resolve, ms));
    }



    const thisURL= new URL(window.location.toLocaleString());

    const urlParams= thisURL.searchParams;
    var visualOptions = { responsive: 'resize' };
    {%if not external %}
        let abcString = '{{song.abc|escapejs}}';
    {% else %}
        
        
       

        let abcString = '{{song_code|escapejs}}';
    {% endif %}
    //alert(abcString)
    //var abcString ="X:1\nT:Example\nK:Bb\nBcde|\n";


    window.onload= function(){

   
    let renderer=new MusicRenderer(abcString,"target","synthController");

    let clef=getClef(abcString);
    
    function changeClefButton(clef){
                return function(){
                    abcString=changedClef(abcString,clef);
                    //dummyRenderer=ABCJS.renderAbc("*",abc_changed)
                    //abc_down=ABCJS.strTranspose(abc_changed,dummyRenderer,-24)
                    
                    //console.log(abc_down);
                    renderer.changeABC(abcString);
                    //renderer.visualObj
                    //delete synthController.disable(true);
                    //synthController=renderMusic(abc_changed,"target","synthController");
                };
        }
    function transpose(delta){
            return function(){
                
                dummyRenderer=ABCJS.renderAbc("*",abcString);
                abcString=ABCJS.strTranspose(abcString,dummyRenderer,delta);
                dummyRenderer=null; //This line prevents a memory leak.
                    
                renderer.changeABC(abcString);
                    
                };
        }    
    //Adding functionality to buttons
    document.getElementById("ClefButtonBass").onclick=changeClefButton("bass");
    document.getElementById("ClefButtonTenor").onclick=changeClefButton("tenor");
    document.getElementById("ClefButtonAlto").onclick=changeClefButton("alto");
    document.getElementById("ClefButtonTreble").onclick=changeClefButton("treble");

    document.getElementById("OctaveDown").onclick=transpose(-12);
    document.getElementById("OctaveUp").onclick=transpose(12);
    document.getElementById("SemitoneDown").onclick=transpose(-1);
    document.getElementById("SemitoneUp").onclick=transpose(1);
    
    //Keyboard shortcuts
    window.addEventListener("keydown",(event) => {
        
        switch(event.code){
            case "KeyQ":
                //$("#ClefButtonBass").onclick(); //This line in Jquery does not work.
                document.getElementById("ClefButtonBass").onclick();
            break;
            case "KeyW":
                document.getElementById("ClefButtonTenor").onclick();
            break;
            case "KeyE":
                document.getElementById("ClefButtonAlto").onclick();
            break;
            case "KeyR":
                document.getElementById("ClefButtonTreble").onclick();
            break;
            case "KeyA":
                document.getElementById("OctaveDown").onclick();
            break;
            case "KeyS":
                document.getElementById("OctaveUp").onclick();
            break;
            case "KeyD":
                document.getElementById("SemitoneDown").onclick();
            break;
            case "KeyF":
                document.getElementById("SemitoneUp").onclick();
            break;
            default: 
                break;
        }
        

    });
    

    window.addEventListener("resize",(event) => {
        
        songViewOnResize(renderer);

    });
    songViewOnResize(renderer);

}
    /*
        
        
        
        */


    
</script>

{% endblock %}
