<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'song_directory/header.css' %}"> 
<link rel="stylesheet" type="text/css" media="all" href="{% static 'song_directory/control-button.css' %}"> 
<head>
    <meta charset ="UTF-8">
    




</head>




<link rel="stylesheet" type="text/css" media="all" href="{% static 'song_directory/text_display_new.css' %}"> 
<link rel="stylesheet" type="text/css" media="all" href="{% static 'song_directory/body_width_standard.css' %}"> 

<body hx-header='{"X-CSRFToken": "{{ csrf_token }}"}"''>
    <script src="{%static 'song_directory/base_imports.js'%}" type="text/javascript"> </script>
    <div id ="static-header" class="static-header header">
        <div class="site-title header">
            <a href ="{% url 'song_directory:index' %}"> <h1 class="header" id="title-header">Contra Tunes</h1> </a>
        </div>    


        
        <div class="upload-header-button ">
            <a href = '{%url "song_directory:song_upload" %}'><div class="header"> Upload </div></a>
        </div>
        
        <div class="account-info">
            {% if user.id is None %}
                <a href = '{%url "account_login" %}'>Login</a>
            {% else %}
                <a href="{%url 'song_directory:user_details' user %}">{{user}} </a> 
                <br> <a href = '{%url "account_logout" %}'>Logout</a></br>
            
            {% endif %}
        </div> 

        <!--Directories and About, from index.html-->
        <span id="header-links" class="header-content ">
            <div id="medley-list-link" class="header-content header"><a href='{%url "song_directory:medley" %}'><h3>Medleys</h3></a></div>
            
            <div id="song-list-link" class="header-content header"><a href='{%url "song_directory:song_list" %}'><h3>Tunes</h3></a></div>
            
            <div id="about-link" class="header-content header"><a href='{%url "song_directory:about" %}'><h3>About</h3></a></div>

        </span>
    </div> 

        


        
    </div>
    
    

    <div class="content">
        

        

        {% block content %}

        {% endblock %}

    </div>

    
</body>

</html>










</html>

<script>
    const pContent=document.querySelector('.content');
    var base_template_top_old=0;
    function moveHeader(){
        var header = document.querySelector(".site-title")
        var header = document.querySelectorAll(".header")
        
        //console.log(window.scrollY)
        // Add or remove the 'scroll' class based on scroll position
        const max_scroll_check=1000;
        
        if (window.scrollY >= 0 && window.scrollY<=max_scroll_check) {
            new_top_num=-window.scrollY
            new_top_delta=new_top_num-base_template_top_old
            
            let new_top=new_top_num.toString()+"px";
            
            for (let i=0; i< header.length;i++){
                initial_top=

                header[i].style.top=new_top+window.getComputedStyle(header[i]).getPropertyValue("--initial-top")
            }
            
        } else {
            let new_top=-max_scroll_check.toString()+"px";
            
            for (let i=0; i< header.length;i++){

                header[i].style.top=new_top
            }
            
        }
        top_old=new_top_num
    }
    window.addEventListener("scroll", moveHeader);
    moveHeader()

    window.addEventListener("resize",(event) => {
            
            HeaderOnResize();

        });
    HeaderOnResize();

    function HeaderOnResize(){
        
        if (pContent.offsetWidth<650){
            
        }else{

        }

        if (pContent.offsetWidth<650){ //Changes the size of certain elements if on a phone
            $("#title-header.header").css("font-size",12)
            $("#header-links").css("left","0px")
            $("#header-links").css("width","142px")
            
            
        }else{
            $("#title-header.header").css("font-size","")
            $("#header-links").css("left","")
            $("#header-links").css("width","")
        }
    }


</script>