{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
        <title>ABC Transcription Tools User Guide</title>
        
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html">
        <meta content="ABC transposer ABCtransposer transpose jig reel folk" name="keywords">
        <meta content="A simple-to-use ABC to standard music notation converter featuring transposition, tab generation, and PDF export." name="description">
        <meta content="A simple-to-use ABC to standard music notation converter featuring transposition, tab generation, and PDF export." name="abstract">
        <meta property="og:locale" content="en_US" />
        <meta name="description" content="A simple-to-use ABC to standard music notation converter" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Michael Eskin's ABC Transcription Tools User Guide" />
        <meta property="og:description" content="A simple-to-use ABC to standard music notation converter featuring transposition, tab generation, and PDF export." />
        <meta property="og:url" {% static ' content=' %} "https://michaeleskin.com/abctools/userguide.html" />
        <meta property="og:site_name" content="Michael Eskin's ABC Transcription Tools User Guide" />
        <meta property="og:image" content="https://michaeleskin.com/abctools/img/abc-icon-user-guide-basic.png" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="https://michaeleskin.com/abctools/img/abc-ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="apple-mobile-web-app-title" content="ABC Tools">
        <meta name="application-name" content="ABC Tools">
        <meta name="viewport" content="width=860">
        <link rel="apple-touch-icon" sizes="57x57" href="https://michaeleskin.com/abctools/img/abc-apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://michaeleskin.com/abctools/img/abc-apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://michaeleskin.com/abctools/img/abc-apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://michaeleskin.com/abctools/img/abc-apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://michaeleskin.com/abctools/img/abc-apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://michaeleskin.com/abctools/img/abc-apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://michaeleskin.com/abctools/img/abc-apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://michaeleskin.com/abctools/img/abc-apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://michaeleskin.com/abctools/img/abc-apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="https://michaeleskin.com/abctools/img/abc-android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://michaeleskin.com/abctools/img/abc-favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://michaeleskin.com/abctools/img/abc-favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://michaeleskin.com/abctools/img/abc-favicon-16x16.png">
        <link rel="manifest" href="https://michaeleskin.com/abctools/img/abc-manifest.json">
        
        <style>
        p {
        font-size:14pt;
        font-family:"Helvetica";
        line-height: 26px;
        margin-bottom: 0px;
        }
        
        h1 {
        text-align: center;
        font-size:18pt;
        line-height:32px;
        font-family:"Helvetica";
        margin-bottom:32px;
        padding-left:75px;
        }
        
        .h1wide{
        padding-left:0px !important;
        }
        
        @media print {
        h1 {
        padding-left:0px;
        }
        }
        
        hr {
        margin-top:24px;
        margin-bottom:24px;
        }
        
        body {
        text-align: center;
        }
        
        #maindiv{
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
        text-align: left;
        width: 700px;
        background-color: white;
        }
        
        .image_holder{
        text-align: center;
        }
        
        .image_holder_p{
        text-align: center;
        margin-top:24px;
        }
        
        .toc{
        margin-top:0px;
        margin-bottom:12px;
        }
        
        .accordion {
        font-size:14pt  !important;
        font-family:"Helvetica" !important;
        background-color: #eee;
        color: #000 !important;
        cursor: pointer !important;
        padding: 14px !important;
        width: 100% !important;
        text-align: left !important;
        border: none !important;
        outline: none !important;
        margin-bottom:5px;
        }
        
        .active {
        background-color: #cfc;
        }
        
        @media not all and (pointer: coarse) {
        .accordion:hover {
        background-color: #9f9;
        }
        }
        
        .expandall{
        font-size:11pt  !important;
        font-family:"Helvetica" !important;
        width:120px !important;
        height:40px !important;
        padding:7px !important;
        border-radius:4px !important;
        border:0px !important;
        color:black !important;
        background-color: #eee;
        }
        
        @media not all and (pointer: coarse) {
        .expandall:hover {
        background-color: #9f9;
        }
        }
        
        .tocpanel {
        padding: 12px !important;
        padding-left: 60px !important;
        background-color: white !important;
        display: none;
        overflow: hidden !important;
        }
        
        .code {
        padding:8px;
        font-family: monospace; !important;
        color:white;
        background-color: black;
        line-height: 28px;
        }
        
        @media print {
        .hidden-print {
        display: none !important;
        }
        
        .page_break_always{
        page-break-before: always;
        }
        
        .page_break_never {
        page-break-before: avoid;
        }
        
        .code {
        padding:8px;
        font-family: monospace; !important;
        color:black;
        line-height: 28px;
        text-align: left !important;
        }
        
        </style>
        
    </head>
    
    <body style="padding:10px;">
        
        <div id="maindiv">
            
            <div style="text-align: center;">
                <font id="pagetitle" face="Comic Sans MS" size="5">ABC Transcription Tools User Guide</font><br/>
                <p class="hidden-print">This free, open-source ABC converter/player tool was developed by <a href="https://michaeleskin.com" target="_blank">Michael Eskin</a></p>
                <p class="hidden-print">Try it out here:&nbsp;&nbsp;<a href="https://michaeleskin.com/abc" target="_blank">ABC Transcription Tools</a></p>
                <p class="hidden-print">YouTube playlist with all the demo videos:&nbsp;&nbsp;<a href="https://www.youtube.com/playlist?list=PLZvjgS80ixQuX2-gMv25U3ECXiceGfTdr" target="_blank">Demo Videos</a></p>
            </div>
            
            <hr id="table_of_contents" class="hidden-print">
            
            <div class="hidden-print">
                
                <h1 style="margin-bottom:20px;line-height:12px;padding-left:0px;">Table of Contents</h1>
                <h1 style="margin-bottom:16px;padding-left:0px;"><button class="expandall" onclick="ExpandAll();">Expand All</button>&nbsp;&nbsp;&nbsp;<button class="expandall" onclick="CollapseAll();">Collapse All</button></h1>
                
                <button class="accordion" title="Click to expand/collapse this section">Basic Operation</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#introduction' %} ">Introduction</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#getting_started' %} ">Getting Started</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#top_bar_buttons' %} ">Top Bar Buttons</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#open_dialog' %} ">Open an ABC or MusicXML File</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#add_templates_dialog' %} ">Adding Your Own Tunes to Your Tunebook</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#search_and_add_tunes' %} ">Search and Add Tunes</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#change_tune_order' %} ">Change the Order of the Tunes</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#delete_selected_tunes' %} ">Delete Tunes from the Tunebook</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#add_examples' %} ">Adding Example Tunes to Your Tunebook</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#abc_editor' %} ">ABC Editor</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#abc_editor_resize' %} ">Resizing the ABC Editor</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#highlighting' %} ">Notation and ABC Highlighting</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#viewing_the_notation_full_screen' %} ">Viewing the Notation Full Screen</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Playing Your Tunes</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#playing_your_tunes' %} ">Playing Your Tunes</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#tune_trainer' %} ">"Step-Up" Tempo Tune Trainer</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#export_audio_image' %} ">Exporting Tune Audio or Image Files</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#adding_swing' %} ">Adding Playback Swing to Tunes</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#grace_timing' %} ">Setting Grace Note Duration for Ornamentation</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#roll_timing' %} ">Defining Custom Roll Timing Parameters</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#sung_solfege' %} ">Select the Solfège Instrument to Sing Note Names</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Basic Controls and Features</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#basic_controls' %} ">Basic Controls and Features</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#basic_tablature' %} ">Notation and Tablature Display</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#basic_transpose' %} ">Transpose Controls</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#basic_snapshot' %} ">Saving and Restoring Snapshots</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#basic_more_tools' %} ">Showing More ABC Tools</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#basic_sharing' %} ">Showing Share Controls</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#basic_clear' %} ">Clearing the ABC Editor</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">More ABC Tools</button>
                <div class="tocpanel">
                    
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#more_tools' %} ">More ABC Tools</a></p>
                    
                    <button class="accordion" title="Click to expand/collapse this section">Hiding/Showing ABC Annotations, Text, and Chords</button>
                    <div class="tocpanel">
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_showhidefeatures' %} ">Hide/Show ABC Features</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_showhideannotations' %} ">Hide/Show Annotations</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_showhidetext' %} ">Hide/Show Text</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_showhidechords' %} ">Hide/Show Chords</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_showhidetab' %} ">Hide/Show Injected Tab</a></p>
                    </div>
                    
                    <button class="accordion" title="Click to expand/collapse this section">Stripping Out ABC Annotation, Text, and Chords</button>
                    <div class="tocpanel">
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_stripfeatures' %} ">Strip ABC Features</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_stripannotations' %} ">Strip Annotations</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_striptext' %} ">Strip Text</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_stripchords' %} ">Strip Chords</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_striptab' %} ">Strip Injected Tab</a></p>
                    </div>
                    
                    <button class="accordion" title="Click to expand/collapse this section">Useful Utilities for Injecting ABC Annotations and Features</button>
                    <div class="tocpanel">
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_injectionfeatures' %} ">ABC Utility Injection Features</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_injecttunetitlenumbers' %} ">Inject Tune Title Numbers</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_injectsectionheader' %} ">Inject PDF Section Header</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_injectallpdf' %} ">Inject All PDF Annotations</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_injectmidi' %} ">Inject MIDI Programs and Volumes</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_injectmetronome' %} ">Inject Metronome</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#injectrepeatsandtwobarclickintros' %} ">Inject Repeats + Intros</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_injectabcheader' %} ">Inject ABC Header String</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_injectstaffwidth' %} ">Inject %%staffwidth</a></p>
                    </div>
                    
                    <button class="accordion" title="Click to expand/collapse this section">Tablature, Shape Note, and Solfège Injectors</button>
                    <div class="tocpanel">
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#injecting_tablature' %} ">Tablature, Shape Note, and Solfège Injectors</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#tab_box_bc' %} ">Inject B/C Box Tab</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#tab_box_cd' %} ">Inject C#/D Box Tab</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#reading_the_box_tablature' %} ">Reading the Box Tablature</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#tab_concertina' %} ">Inject Anglo Concertina Tab</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#reading_the_concertina_tablature' %} ">Reading the Anglo Concertina Tablature</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#tab_fiddle' %} ">Inject Fiddle Fingerings</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#tab_dulcimer' %} ">Inject Dulcimer Tab</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#tab_bamboo' %} ">Inject Bamboo Flute Tab</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_shapenoteshapes' %} ">Inject Shape Note/Solfège</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#tablature_settings' %} ">Configuring Tablature/Solfège Fonts and Settings</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#clearing_tablature' %} ">Clearing the Injected Tablature</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#tablature_limitations' %} ">Tablature/Solfège Injection Issues and Limitations</a></p>
                    </div>
                    
                    <button class="accordion" title="Click to expand/collapse this section">Notation, MIDI, Swing, Grace Duration, and Roll Explorers</button>
                    <div class="tocpanel">
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_notationspacingexplorer' %} ">Notation Spacing Explorer</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#midi_instrument_explorer' %} ">MIDI Instrument Explorer</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#swing_explorer' %} ">Swing Explorer</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#grace_duration_explorer' %} ">Grace Duration Explorer</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#roll_explorer' %} ">Roll Explorer</a></p>
                    </div>
                    
                    <button class="accordion" title="Click to expand/collapse this section">Exporting Audio/Images, Sorting Tunes, and Comhaltas ABC Transform</button>
                    <div class="tocpanel">
                        
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#export_all' %} ">Export All Audio or Images</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#sort_dialog' %} ">Sort by Specific Tag</a></p>
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_comhaltas' %} ">Comhaltas ABC Transform</a></p>
                    </div>

                    <button class="accordion" title="Click to expand/collapse this section">SmartDraw Set List Builder</button>
                    <div class="tocpanel">
                        <p class="toc"><a style="text-decoration:none;" href=" {% static '#smartdraw_export' %} ">SmartDraw Set List Builder</a></p>
                    </div>
                    
                </div>
                <button class="accordion" title="Click to expand/collapse this section">Tool Settings</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#settings_dialog' %} ">ABC Transcription Tools Settings</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#advanced_settings' %} ">Advanced Settings</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#configure_fonts' %} ">Configuring ABC Rendering Fonts</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#midi_input' %} ">Typing ABC Using a MIDI Input Device</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Selecting Playback Instruments</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#selecting_the_instruments_for_playback' %} ">Choosing the MIDI Soundfont and Instruments for Playback</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#general_midi_instrument_program_numbers' %} ">General MIDI Instrument Program Numbers</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#general_midi_percussion_map' %} ">General MIDI Drum Sound ABC Note Map</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Custom Backup Rhythms</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#custom_backup_rhythms' %} ">Custom Backup Rhythms</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">PDF Tunebook Generation</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#export_pdf_tunebook' %} ">Exporting a PDF Tunebook</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#pdf_font_override_settings' %} ">PDF Font Override Settings</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#pdf_quality_setting' %} ">PDF Quality Setting</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#pdf_tunebook_spacing_overrides' %} ">PDF Tunebook Tune Size and Layout Spacing Overrides</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#adding_a_pdf_title_page' %} ">Adding a PDF Tunebook Title Page</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#adding_a_pdf_tunebook_table_of_contents_and_index' %} ">Adding a PDF Tunebook Table of Contents and Index</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#pdf_section_headers' %} ">Adding Table of Contents and Index Section Headers</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#table_of_contents_and_index_font_size_and_line_spacing_overrides' %} ">Table of Contents and Index Font Size and Line Spacing Overrides</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#pdf_page_headers_and_footers' %} ">PDF Page Headers and Footers</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#tunebook_hyperlinks' %} ">PDF Tunebook Hyperlinks and Automatic Play Links</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">PDF Tunebook Advanced Formatting</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#custom_font_overrides' %} ">Custom Font Overrides</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">MusicXML Import</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#musicxml' %} ">MusicXML Import Settings</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Sharing Tunes via Share URLs and QR Codes</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#sharing_controls' %} ">Sharing Tunes with Share URLs and QR Codes</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#share_url_ {% static 'autoplay' %} ">Making Shared Tunes Open in the Player</a></p>' %} 
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#shortening_abc_share_urls' {% static ' %} ">Shortening Share URLs</a></p>' %} 
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#shared_tunes_open_full_screen' %} ">Shared Tunes Open Full Screen</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#adding_a_qr_code_to_the_pdf_export' %} ">Adding a QR Code to the PDF Export</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#reading_the_qr_codes' %} ">Reading the QR Codes</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#qr_code_example' %} ">QR Code Example</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Printing Your Tunes Using the Browser's Built-in Print Feature</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#printing_your_tunes' %} ">Printing Your Tunes Using the Browser's Built-in Print Feature</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">abcjs v6.2.3 Notation Layout Options</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#expandtowidest' %} ">Opting-out of "Expand to Widest" Layout</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">ABC Tricks and Tips</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#largeprint' %} ">"Large Print" Edition Tune Notation</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#tabtranspose' %} ">Transposing Notation Independent of Tablature</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#learningtunes' %} ">Learning New Tunes Part-by-Part Using ABC</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#clicktrack' %} ">Adding a Two-Bar Click Intro to Tunes</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#abcadditions' %} ">Additional Tool-Specific ABC Directives</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Adding Shape Note Shapes</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#shapenote' %} ">Adding Shape Note Shapes</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">iOS-Specific Topics</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#iphone_ipad_chord_entry_issue_fix' %} ">iPhone/iPad Chord Entry Issue Fix</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#goodreader' %} "> Using Interactive PDF Tunebooks with GoodReader</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">ABC 2.1 Specification and Quick Reference Card</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#abc_specification' %} ">ABC Specification</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#abc_21_quick_reference_card' %} ">ABC Quick Reference Card</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Printing the User Guide</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#printing_the_user_guide' %} ">Printing the User Guide</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Example ABC Tunes and Tunebook</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#example_tunes' %} ">Example ABC Tunes</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#example_tunebook' %} ">Example ABC Tunebook</a></p>
                </div>
                
                <button class="accordion" title="Click to expand/collapse this section">Tip Jars, Source Code, Privacy, and Support</button>
                <div class="tocpanel">
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#tipjars' %} ">Tip Jars</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#github' %} ">Source Code Available on GitHub</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#privacy' %} ">Privacy</a></p>
                    <p class="toc"><a style="text-decoration:none;" href=" {% static '#support' %} ">Support</a></p>
                </div>
            </div>
            
            <hr class="hidden-print" id="introduction">
            <h1 class="page_break_never">Introduction<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <p class="hidden-print" style="margin-top:24px;margin-bottom:24px;text-align:center"><iframe width="620" height="338" src="https://www.youtube.com/embed/eVOLh2Z-GDU" title="ABC Transcription Tools Demo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
            <p>ABC Transcription Tools is a free, web-based, open-source tool for converting music in ABC and MusicXML format to both standard notation and tablature for a wide variety of instruments.</p>
            <p>Search for tunes by name from a built-in database of over 60,000 ABC tune settings and quickly add them to your tunebooks.</p>
            <p>Play your tunes with over 500 high-quality, sampled instruments.</p>
            <p>Use the Tune Trainer to practice your tunes with increasing tempos.</p>
            <p>Create PDF tunebooks with title pages, table of contents, tune index, custom headers, footers, hyperlinks, tune incipits (notation or raw ABC), and sharing QR codes using the tool's built-in Export PDF feature.</p>
            <p>Quickly transpose a single ABC tune or entire ABC tunebooks to any key.</p>
            <p>You can fully customize the look of your notation using the standard ABC spacing and font annotations.</p>
            <p>Easily share your tunes with others via Share URLs and QR Codes.</p>
            <hr class="hidden-print" id="getting_started">
            <h1 class="page_break_always">Getting Started<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <p>On desktop browsers, when the tool is run, you should be seeing a side-by-side view with the ABC editor on the left and the notation on the right:</p>
            <br/>
            <div class="image_holder">
                <img style="width:700px;" src=" {% static 'img/overview_9.jpg' %} "/>
            </div>
            <p><strong>On a desktop browser, if you are seeing a single column view with the ABC editor at the top and the notation below, or the welcome dialog is taller than the screen, try zooming your browser view out using the following keystrokes:</strong></p>
            <p><strong>Windows:&nbsp;&nbsp;Ctrl -</strong></p>
            <p><strong>Mac:&nbsp;&nbsp;⌘ -</strong></p>
            <hr>
            <p>Note: On iOS and Android devices the tool runs in a portrait-mode single-column layout with the ABC editor on the top and the notation below.</p>
            <hr>
            <p>Click the <strong>?</strong> at the top-left of the window or any dialog to open the related User Guide topic in a new browser tab.</p>
            <hr>
            <p>When notation is present, you can:</p>
            <p>- Click the Zoom arrows at the top-right of the window to view the notation full screen.</p>
            <p>- Click the Play icon button at the bottom-right of the window to play the currently selected tune. </p>
            <p>- Click the PDF icon button at the bottom-left of the window to export a PDF of the tunebook. </p>
            <p>The Play and PDF icon buttons are always available in the notation full screen view mode on both desktop and mobile browsers.</p>
            <p>They are both available in ABC edit mode on desktop browsers but not mobile device browsers to avoid interfering with the notation display on narrow screens.</p>
            <hr>
            <p>Most features in the tool have tool tips you can view by hovering your mouse cursor over the button or other control.</p>
            <hr class="hidden-print" id="top_bar_buttons">
            <h1 class="page_break_always">Top Bar Buttons<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <div class="image_holder">
                <img style="width:700px;" src=" {% static 'img/topbar_2.jpg' %} "/>
            </div>
            <hr>
            <p><strong>Open:</strong></p>
            <p>Opens an ABC or MusicXML file.</p>
            <p>Details below in the <a href=" {% static '#open_dialog' %} ">Open an ABC or MusicXML File</a> section.</p>
            <hr>
            <p><strong>Add:</strong></p>
            <p>Brings up a dialog where you can add your own ABC or MusicXML tunes, restore from previously saved Snapshots, re-order the tunes, add example ABC tunes, add useful ABC templates, or configure PDF tunebook features.</p>
            <p>Details below in the <a href=" {% static '#add_templates_dialog' %} ">Adding Your Own Tunes to Your Tunebook</a> section.</p>
            <hr>
            <p><strong>Save:</strong></p>
            <p>Saves the contents of the ABC editor to a file.</p>
            <hr>
            <p><strong>Export PDF:</strong></p>
            <p>Exports the currently displayed score as a high quality PDF file.</p>
            <p>The saved ABC or PDF file will be in your browser's Downloads directory.</p>
            <p>On iOS the downloaded files will be found in the "Downloads" directory in the iOS "Files" app.</p>
            <p>On desktop browsers, you can also click the PDF icon at bottom-left of the window.</p>
            <hr>
            <p><strong>Copy All:</strong></p>
            <p>Copies all the ABC text to the system clipboard so you can easily paste it into social media posts, emails, or other tools.</p>
            <hr>
            <p><strong>Play:</strong></p>
            <p>Opens the ABC Player where you can play the current tune. Full details below in the <a style="text-decoration:none;" href=" {% static '#playing_your_tunes' %} ">Playing Your Tunes</a> section.</p>
            <p>On desktop browsers can also click the Play icon at the bottom-right of the window.</p>
            <hr>
            <p><strong>Highlighting On/Off:</strong></p>
            <p>Toggles Notation/ABC automatic highlighting On/Off.</p>
            <p>Full details below in the <a href=" {% static '#highlighting' %} ">Notation and ABC Highlighting</a> section.</p>
            <hr>
            <p><strong>Settings:</strong></p>
            <p>Brings up the default playback instruments and other tool-wide settings dialog.</p>
            <p>Full details below in the <a href=" {% static '#settings_dialog' %} ">ABC Transcription Tools Settings</a> section.</p>
            <hr>
            <p><strong>▲/▼:</strong></p>
            <p>Click this to hide/show the header at the top and any visible controls below the ABC text area so you can have more room to work on your music.</p>
            <p class="page_break_always"></p>
            <hr class="hidden-print" id="open_dialog">
            <h1 class="page_break_always">Open an ABC or MusicXML File<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <p><strong>Open:</strong></p>
            <p>The tool supports opening both ABC and MusicXML files.</p>
            <p>The file type being opened depends on the file extension:</p>
            <p>.abc or .txt - Opens an ABC file from your computer and loads it into the ABC Editor.</p>
            <p>.xml, .musicxml, or .mxl - Imports a MusicXML file form your computer, converts it to ABC, and loads it into the ABC Editor.</p>
            <p>Details on MusicXML import settings below in the <a style="text-decoration:none;" href=" {% static '#musicxml' %} ">MusicXML Import Settings</a> section.</p>
            <p>On desktop browsers, you may also drag-and-drop a single ABC or MusicXML file on the editor area to add it.</p>
            <p>If you have unsaved work, you will be asked to confirm that you want to abandon your work in progress and load a new ABC file.</p>
            <hr class="hidden-print" id="add_templates_dialog">
            <h1 class="page_break_always h1wide">Adding Your Own Tunes to Your Tunebook<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <p><strong>Add:</strong></p>
            <p>Brings up a dialog where you can add your own ABC or MusicXML tunes, restore from previously saved Snapshots, re-order the tunes, delete tunes, add example ABC tunes, add useful ABC templates, or configure PDF tunebook features:</p>
            <div class="image_holder_p">
                <img src=" {% static 'img/add_example_template_18.jpg' %} "/>
            </div>
            <p>If you would like to only show the buttons for the features you commonly use and hid the others, click the controls icon at the top-right of the dialog to choose features of the dialog you would like to show/hide:</p>
            <div class="image_holder_p">
                <img src=" {% static 'img/add_abc_features_options_1.jpg' %} "/>
            </div>
            <p>The most commonly used buttons are always shown.</p>
            <p>Your preferences are saved and restored the next time you use the tool.</p>
            <hr>
            <p><strong>Choose File to Add:</strong></p>
            <p>Browse your system for an ABC or MusicXML file with one or more tunes to add to the end of the current tunes.</p>
            <hr>
            <p><strong>Restore from Snapshot:</strong></p>
            <p>This button appears if there is a saved Snapshot available in browser storage.</p>
            <p>When clicked, restores the last saved Snapshot, replacing the contents of the ABC editor.</p>
            <p>Since it completely replaces the contents of the ABC editor, you will be asked to confirm the operation.</p>
            <hr>
            <p><strong>Restore from Auto-Snapshot:</strong> (Desktop browsers only) </p>
            <p>This button appears if there is a saved Auto-Snapshot available in browser storage.</p>
            <p>When clicked, restores the last Auto-Snapshot, replacing the contents of the ABC editor.</p>
            <p>Since it completely replaces the contents of the ABC editor, you will be asked to confirm the operation.</p>
            <p>On desktop browsers, automatic snapshots when closing or reloading the browser tab the tool is running in can be enabled in the tool's <strong>Settings</strong> dialog. </p>
            <hr class="hidden-print" id="search_and_add_tunes">
            <h1 class="page_break_always">Search and Add Tunes<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <p>Brings up a dialog where you search either Gavin Heneghan's tune collection (over 20,000 tune settings) or the FolkFriend.app tune collection (over 45,000 tune settings) by tune name and then optionally add them to your tunebook:</p>
            <div class="image_holder_p">
                <img src=" {% static 'img/tune_search_6.jpg' %} "/>
            </div>
            <p class="hidden-print" style="margin-top:24px;margin-bottom:24px;text-align:center"><iframe width="620" height="338" src="https://www.youtube.com/embed/9HgEBIPXHCU" title="Tune search overview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
            <p>When first entering this dialog or changing the search collection, the tool will need to load the tune collection.</p>
            <p>The status will read "Ready to search" when the tune collection has been loaded.</p>
            <p>Enter some text to search for in the title of the tunes and click <strong>Search</strong></p>
            <p>By default, the search will return only the first variation of a tune found.</p>
            <p>If you want all the variations for a tune, uncheck <strong>Only return first variation found?</strong></p>
            <p>If you want to match the search text only at the start of the tune name, check <strong>Match start of title?</strong></p>
            <p>If you want to only match tunes that also have chords, check <strong>Only return tunes with chords?</strong>.</p>
            <p>Select the maximum number of search results you want from the <strong>Maximum number of results</strong> dropdown.</p>
            <p>Click <strong>Add Results to Tunebook</strong> to append the search results tunes at the end of the ABC editor.</p>
            <p>If you don't want all the tunes in the search results added to your tunebook, you can simply copy and paste the results you want back into the ABC editor.</p>
            <p>You can also get to this dialog by clicking the <strong>Search for Tunes</strong> link at the top of the tool.</p>
            <hr class="hidden-print" id="change_tune_order">
            <h1 class="page_break_always h1wide">Change the Order of the Tunes<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <p>On desktop browsers, brings up a dialog where you can drag and drop the tune names to change their order in the tunebook:</p>
            <div class="image_holder_p">
                <img src=" {% static 'img/change_order_2.jpg' %} "/>
            </div>
            <p class="hidden-print" style="margin-top:24px;margin-bottom:24px;text-align:center"><iframe width="620" height="338" src="https://www.youtube.com/embed/UbDZ7SGvKX0" title="Changing the order of the tunes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
            <p>On mobile browsers, select a tune name and then use the <strong>Move Up</strong> and <strong>Move Down</strong> buttons to change the order of the tune in the tunebook.</p>
            <div class="image_holder_p">
                <img src=" {% static 'img/change_order_mobile_1.jpg' %} "/>
            </div>
            <hr class="hidden-print" id="delete_selected_tunes">
            <h1 class="page_break_always h1wide">Delete Tunes from the Tunebook<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <p>Brings up a dialog where you can select tunes to delete from the tunebook:</p>
            <div class="image_holder_p">
                <img src=" {% static 'img/delete_selected_tunes_1.jpg' %} "/>
            </div>
            <p class="hidden-print" style="margin-top:24px;margin-bottom:24px;text-align:center"><iframe width="620" height="338" src="https://www.youtube.com/embed/CQarxTw-fKU" title="Deleting tunes from the tunebook" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
            <p>Click on the tune names to select/deselect them.</p>
            <p>Click <strong>Select All</strong> to select all the tunes for deletion.</p>
            <p>Click <strong>Clear Selection</strong> to unselect all the tunes for deletion.</p>
            <p>Click <strong>Delete</strong> to delete the tunes after confirmation.</p>
            <hr class="hidden-print" id="add_examples">
            <h1 class="page_break_always">Adding Example Tunes to Your Tunebook<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <p><strong>Add an Example Reel:</strong></p>
            <p>Adds "Cooley's" as an example of a typical reel.</p>
            <hr>
            <p><strong>Add an Example Reel:</strong></p>
            <p>Adds "Cooley's" as an example of a typical reel.</p>
            <hr>
            <p><strong>Add an Example Jig:</strong></p>
            <p>Adds "The Kesh" as an example of a typical jig.</p>
            <hr>
            <p><strong>Add an Example Hornpipe:</strong></p>
            <p>Adds "Alexander's" as an example of a typical hornpipe.</p>
            <hr>
            <p><strong>Add J.S. Bach Two-Part Invention #1:</strong></p>
            <p>Adds the J.S. Bach Two-Part Invention #1 for Harpsichord.</p>
            <p>This piece was originally imported from a MusicXML transcription.</p>
            <hr>
            <p><strong>Add J.S. Bach BWV570 Fantasia:</strong></p>
            <p>Adds the J.S. Bach BWV570 Fantasia in four parts for Pipe Organ.</p>
            <p>This piece was originally imported from a MusicXML transcription.</p>
            <hr>
            <p><strong>Add a Tune Template:</strong></p>
            <p>Adds a minimal ABC template for a tune.</p>
            <hr>
            <p><strong>Add a Song Template:</strong></p>
            <p>Adds a minimal self-documenting ABC template for a song with lyrics.</p>
            <hr>
            <p><strong>Add an Example Song:</strong></p>
            <p>Adds a detailed self-documenting example of ABC for a song with lyrics.</p>
            <hr>
            <p><strong>Add Box Fingering Symbols Template:</strong></p>
            <p>Add a template with symbols for annotating box fingerings and tablature at the top of the ABC editor text.</p>
            <hr>
            <p><strong>Add Two-Bar Click Intro Templates:</strong></p>
            <p>Add a template with two-bar click intro templates for common tune styles.</p>
            <p>Copy and paste these into the start of your tunes before any repeats.</p>
            <p>Delete the rest when you are done.</p>
            <hr>
            <p><strong>Configure PDF Tunebook Features:</strong></p>
            <p>Brings up a dialog that you can use to add annotations at the top of the ABC that will add an optional Title Page, Table of Contents, Index, Page Header, Page Footer, playback links, and/or QR code to an exported PDF tunebook.</p>
            <p>Full details on PDF tunebook features can be found in the <a href=" {% static '#configure_pdf_tunebook_features' %} "><strong>Configure PDF Tunebook Features</strong></a> section of <a href="#export_pdf_tunebook"><strong>Exporting a PDF Tunebook</strong></a>.</p>
            <hr class="hidden-print" id="abc_editor">
            <h1 class="page_break_always">ABC Editor<span class="hidden-print">&nbsp;&nbsp;&nbsp;(</span><a style="text-decoration:none;" href=" {% static '#table_of_contents' %} " class="hidden-print">Top</a><span class="hidden-print">)</span></h1>
            <div class="image_holder">
                <img style="width:700px;" src=" {% static 'img/ug2.jpg' %} "/>
            </div>
            <p>Type or paste your ABC notation here.</p>
            <p>Changes are reflected immediately in the displayed notation below the ABC Editor.</p>
            <p>You may also paste some ABC text into the ABC Editor or just start typing.</p>
