<!DOCTYPE html>

<head>
<title> {{Title}} </title>
</head>
<body>
<a> {{Title}} <a> <br></br>

<a href="../"> Return </a>

{% if Medley_list %}
    <ul>
    {% for medley in Medley_list %}
        <li><a href="{{medley.url_code}}">{{ medley.Tune1 }} , {{ medley.Tune2 }}</a></li>
    {% endfor %}
    </ul>

{% elif Song_list %}
    <ul>
    {% for entry in Song_list %}
        <li><a href="{{entry.url_code}}">{{ entry.name }}</a></li>
    {% endfor %}
    </ul>	
{% else %}
    <p>The database this page references is empty.</p>
{% endif %}
</body>