<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'song_directory/text_display.css' %}">
<html lang="en"></html>

<title>  Medley {{medley.pk}}   </title>



<li> Tune 1: {{medley.Tune1}} </li>
<li> Tune 2: {{medley.Tune2}} </li>
<li> Tune 3: {{medley.Tune3}} </li>
<li> Bands: {{medley.bands}} </li>
<li> keys: {{medley.keys}} </li>
<li> comments: {{medley.comments}} </li>
<li> Additional Notes: {{medley.additional_notes}} </li>
<li> Category: {{medley.medley_type}} </li>



<a href="../medley">Go back</a>

