
{% load static %}
<link rel="stylesheet" href={% static 'song_directory/abcjs-audio.css'%}>
<!doctype html>
<html lang="en"></html>
<head>
    <title>  {{song.name}}   </title>


</head>
<body>
<a href="../song">Go to song list</a>


<script src="{% static 'song_directory/abcjs-basic.js' %}" type="text/javascript"></script>




<script type="text/javascript"> 
    var sleepSetTimeout_ctrl;

    function sleep(ms) {
        clearInterval(sleepSetTimeout_ctrl);
        return new Promise(resolve => sleepSetTimeout_ctrl = setTimeout(resolve, ms));
    }



    const thisURL= new URL(window.location.toLocaleString());

    const urlParams= thisURL.searchParams;
    var visualOptions = { responsive: 'resize' };
    
    let abcString = '{{song.abc|escapejs}}';
    abcString=abcString.replace("&quot;",'\"')
    <!--alert(abcString)-->
    <!--var abcString ="X:1\nT:Example\nK:Bb\nBcde|\n";-->
    window.onload= function(){
        
        ABCJS.renderAbc("target", abcString,{jazzchords:false});
    }
</script>










<div id="target"></div>
<li> {{song.abc|linebreaks}} </li>
<li> {{song.description}} </li> 
</body>
</html>



